<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reflectionsinfos.nativelibrary">
  <uses-sdk android:minSdkVersion="15" />
  <application android:label="IntComponent.Droid">
    <activity android:name=".ShowMessage"
            android:theme="@style/Base.Theme.AppCompat.Light"/>

  </application>
</manifest>